{% extends "base.html" %}

{% block content %}
<h2>Здравствуй, дорогой читатель!</h2>
    <p>Добро пожаловать в уголок мистики и тайн! </p>
    <p>На этом сайте ты узнаешь о волшебном мире "The world of souls", его истории и сущетсвах, живущих в нем</p>
    <p>О чем же, дорогой читатель, ты бы хотел узнать прямо сейчас?</p>
    <ul>
        <li><a href='/world'>История создания мира</a></li>
        <li><a href='/edem'>Эдем</a></li>
        <li><a href='/hell'>Тартар</a></li>
        <li><a href='/hist'>История Эдема и Тартара</a></li>
        <li><a href='/earth'>Земля</a></li>
        <li><a href='/fantom'>Призраки</a></li>
    </ul>
{% endblock %}
